/* start global */
:root {
  --main-color: #2196f3;
  --alt-color: #1787e0;
  --quality-color: #f44036;
  --time-color: #009688;
  --passion-color: #03a9f4;
  --main-transition: 0.3s;
  --main-padding: 100px;
  --section-background: #ececec;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Cairo", sans-serif;
  height: 1000vh;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.main-title {
  border: 2px solid black;
  position: relative;
  z-index: 2;
  margin: 0 auto 80px;
  color: black;
  padding: 10px 20px;
  width: fit-content;
  font-weight: bold;
  text-transform: uppercase;
}
.main-title:hover {
  border-color: white;
  color: white;
  transition-delay: 0.5s;
}
.main-title::before,
.main-title::after {
  content: "";
  position: absolute;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--alt-color);
  transition: 0.5s;
}
.main-title::before {
  left: -30px;
}
.main-title::after {
  right: -30px;
}
.main-title:hover::before {
  z-index: -1;
  animation: left-move 0.5s linear forwards;
}
.main-title:hover::after {
  z-index: -1;
  animation: right-move 0.5s linear forwards;
}
.spickes {
  position: relative;
}
.spickes::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 30px;
  right: 0;
  background-image: linear-gradient(135deg, white 25%, transparent 25%),
    linear-gradient(225deg, white 25%, transparent 25%);
  background-size: 30px 30px;
}
.dots {
  background-image: url(../images/dots.png);
  height: 168px;
  width: 204px;
  background-repeat: no-repeat;
  position: absolute;
}
.dots-up {
  top: 200px;
  right: 0;
}
.dots-down {
  bottom: 200px;
  left: 0;
}
/* end global */
/* start nav */
.navbar {
  background-color: white;
  box-shadow: 0 0 10px #ddd;
  padding: 0;
}

.navbar-brand {
  color: var(--main-color);
  height: 72px;
  display: flex;
  align-items: center;
}
.navbar-brand:hover {
  color: var(--main-color);
}
.navbar .navbar-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navbar .nav-link {
  color: black;
  height: 72px;
  font-size: 18px;
  display: flex;
  align-items: center;
  padding: 0 30px;
  position: relative;
  overflow: hidden;
  transition: var(--main-transition);
}
@media (width<768px) {
  .navbar-brand {
    height: 50px;
    width: 100%;
    justify-content: center;
  }
  .navbar .nav-link {
    justify-content: center;
    font-size: 14px;
    padding: 10px;
    height: 40px;
  }
  .navbar .navbar-nav {
    margin: 0 auto;
  }
}
/* start mega-menu */
.navbar .mega-menu {
  position: absolute;
  z-index: -1;
  left: 0;
  top: calc(100% + 50px);
  width: 100%;
  background-color: white;
  padding: 30px;
  border-bottom: 3px solid var(--main-color);
  opacity: 0;
  transition: top var(--main-transition), opacity var(--main-transition);
}
.navbar .nav-item:hover .mega-menu {
  top: calc(100% + 1px);
  z-index: 10;
  opacity: 1;
}
.navbar .mega-menu .links {
  min-width: 207px;
}
.navbar .mega-menu .links li {
  position: relative;
}
.navbar .mega-menu .links li:not(:last-child) {
  border-bottom: 1px solid #ddd;
}
@media (width<768px) {
  .navbar .mega-menu .links:first-of-type li:last-child {
    border-bottom: 1px solid #ddd;
  }
}
.navbar .mega-menu .links li::before {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: #fafafa;
  transition: var(--main-transition);
}
.navbar .mega-menu .links li:hover::before {
  width: 100%;
}
.navbar .mega-menu .links li a {
  text-decoration: none;
  display: block;
  color: var(--main-color);
  padding: 15px 0px 15px 15px;
  font-size: 18px;
  font-weight: bold;
}
.navbar .mega-menu .links li a i {
  margin-right: 10px;
}
/* end mega-menu */
.navbar .nav-item .nav-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 4px;
  background-color: var(--main-color);
  transition: var(--main-transition);
}
.navbar .nav-item .nav-link:hover {
  color: var(--main-color);
  background-color: #fafafa;
}
.navbar .nav-item .nav-link:hover:before {
  left: 0;
}
/* end nav */
/* statrt landing */
.landing {
  position: relative;
  min-height: calc(100vh - 72px);
}
.landing .bg {
  background-color: #ececec;
}
.landing .container {
  min-height: calc(100vh - (72px + 125px));
}
.shap {
  position: relative;
  z-index: -1;
  height: 125px;
  top: -1px;
  background-color: #ececec;
  clip-path: polygon(0 0, 100% 0, 0 80%);
}
.landing .text-content h1 {
  letter-spacing: -2px;
  color: black;
}
.landing .text-content p {
  font-size: 23px;
}
.landing .image img {
  max-width: 100%;
  animation: up-and-down 5s linear infinite;
}
.landing .go-down {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: var(--main-color);
}
.landing .go-down i {
  animation: bouncing 1.5s infinite;
}
@media (width<768px) {
  .landing .text-content h1 {
    font-size: 28px;
  }
  .landing .text-content p {
    font-size: 18px;
    align-items: center;
  }
}
/* end landing */
/* start articles */
.article {
  padding: var(--main-padding) 0;
}
.article .card {
  box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
  transition: transform var(--main-transition),
    box-shadow var(--main-transition);
  background-color: white;
  margin-bottom: 24px;
  border-radius: 20px;
  overflow: hidden;
}
.article .card .info {
  color: var(--main-color);
}
.article .card:hover {
  transform: translateY(-10px);
  box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
}
.article .card:hover .info i {
  animation: moving-arrow 0.6s linear infinite;
}
.article .text-content {
  border-bottom: 1px solid #e6e6e7;
}
/* end articles */
/* start gallery */
.gallery {
  padding: var(--main-padding) 0;
  background-color: var(--section-background);
}
.gallery .box {
  margin-bottom: 24px;
  gap: 10px;
}
.gallery .image::before {
  content: "";
  position: absolute;
  z-index: 2;
  width: 0;
  height: 0;
  background-color: rgba(255, 255, 255, 0.2);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}
.gallery .image:hover::before {
  animation: flushing 0.7s;
}
.gallery .image img {
  transition: var(--main-transition);
}
.gallery .image:hover img {
  transform: rotate(5deg) scale(1.1);
}
/* end gallery */
/* start features */

.features {
  padding: var(--main-padding) 0;
}
.features .box {
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: white;
  padding: 10px;
}
.features .box .image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.features .quality .image::before {
  background-color: rgb(244 64 54 / 60%);
}
.features .time .image::before {
  background-color: rgb(0 150 136 / 60%);
}
.features .passion .image::before {
  background-color: rgb(3 169 244 / 60%);
}
.features .box .image::after {
  content: "";
  position: absolute;
  bottom: -1px;
  right: -1px;
  width: calc(100% + 1px);
  height: 50%;
  clip-path: polygon(0 70%, 100% 0, 100% 100%, 0% 100%);
  background-color: white;
  transition: var(--main-transition);
}
.features .box:hover .image::after {
  clip-path: polygon(0 70%, 0 20%, 100% 100%, 0% 100%);
}
.features .box h2 {
  width: fit-content;
  font-weight: bold;
  position: relative;
  margin: 0 auto;
  font-size: 40px;
  color: black;
}
.features .box h2::after {
  content: "";
  position: absolute;
  height: 5px;
  width: calc(100% - 30px);
  bottom: -20px;
  left: 15px;
}
.features .quality h2::after {
  background-color: var(--quality-color);
}
.features .time h2::after {
  background-color: var(--time-color);
}
.features .passion h2::after {
  background-color: var(--passion-color);
}
.features .box a {
  display: block;
  position: relative;
  z-index: 2;
  overflow: hidden;
  width: fit-content;
  margin: 0 auto 20px;
  border-radius: 6px;
}
.features .quality a {
  border: 4px solid var(--quality-color);
  color: var(--quality-color);
}
.features .time a {
  border: 4px solid var(--time-color);
  color: var(--time-color);
}
.features .passion a {
  border: 4px solid var(--passion-color);
  color: var(--passion-color);
}

.features .box:hover a {
  color: white;
}
.features .box a::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: calc(-100% - 4px);
  transition: var(--main-transition);
}
.features .quality a::before {
  background-color: var(--quality-color);
}
.features .time a::before {
  background-color: var(--time-color);
}
.features .passion a::before {
  background-color: var(--passion-color);
}
.features .box:hover a::before {
  left: 0;
}
/* end features */
/* start testimonials */
.testimonials {
  background-color: var(--section-background);
  padding: var(--main-padding) 0;
}
.testimonials .box {
  border-radius: 6px;
}
.testimonials .box img {
  position: absolute;
  width: 100px;
  height: 100px;
  border: 10px solid var(--section-background);
  border-radius: 50%;
  top: -50px;
  right: -10px;
}
.testimonials .box .rate .fa-solid {
  color: #ffc107;
}
/* end testimonials */
/* start members */
.members {
  padding: var(--main-padding) 0;
}
.members .box::before,
.members .box::after {
  content: "";
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  border-radius: 10px;
}
.members .box::before {
  width: calc(100% - 60px);
  background-color: #f3f3f3;
  z-index: -2;
}
.members .box::after {
  width: 0;
  background-color: #e4e4e4;
  transition: var(--main-transition);
  z-index: -1;
}
.members .box:hover::after {
  width: calc(100% - 60px);
}
.members .box .content img {
  width: calc(100% - 60px);
  border-radius: 10px;
  transition: var(--main-transition);
}
.members .box:hover img {
  filter: grayscale(100%);
}
.members .box .content {
  padding-top: 60px;
}
.members .box .content .icon a {
  width: 60px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #777;
}
.members .box .content .icon a:hover {
  color: var(--main-color);
}
.members .box .text-content {
  margin-left: 75px;
  padding: 5px;
}
.members .box h3 {
  font-weight: bold;
  font-size: 22px;
  color: var(--main-color);
  transition: var(--main-transition);
}
.members .box:hover h3 {
  color: #777;
}
/* end members */
/* start services */
.services {
  padding: var(--main-padding) 0;
  background-color: var(--section-background);
  counter-reset: services;
}
.services .box {
  box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
  transition: var(--main-transition);
}
.services .box:hover {
  transform: translateY(-10px);
}
.services .box::before {
  content: "";
  position: absolute;
  top: -3px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 3px;
  background-color: var(--main-color);
  transition: var(--main-transition);
}
.services .box:hover::before {
  width: 100%;
}
.services .box i {
  color: #d5d5d5;
  margin-top: 30px;
}
.services .box h3 {
  font-weight: bold;
  color: var(--main-color);
  font-size: 25px;
  margin: 20px 0 40px;
}
.services .box .info {
  position: relative;
  background-image: linear-gradient(
    120deg,
    var(--main-color) 25%,
    #d5d5d5 25%,
    #d5d5d5 37%,
    #f9f9f9 30%
  );
}
.services .box .info::before {
  counter-increment: services;
  content: "0" counter(services);
  font-weight: bold;
  font-size: 30px;
}
.services .box .info a {
  color: var(--main-color);
}
/* end services */
/* sart skills */
.skills {
  padding: var(--main-padding) 0;
}
.skills .box .prog {
  height: 30px;
  background-color: #eee;
  position: relative;
  border-radius: 4px;
}
.skills .prog span {
  display: block;
  position: relative;
  height: 100%;
  width: 0;
  background-color: var(--main-color);
  border-radius: inherit;
  transition: 0.5s;
}
.skills .prog::after {
  content: attr(num);
  position: absolute;
  top: -40px;
  right: 0;
  padding: 1px 4px;
  color: var(--main-color);
  background-color: white;
  border: 1px solid #ccc;
  font-size: 12px;
  font-weight: bold;
  border-radius: 4px;
}
/* end skills */
/* start works */
.work {
  padding: var(--main-padding) 0;
  background-color: var(--section-background);
}
.work .content {
  margin-left: 100px;
}
.work .box {
  display: flex;
  z-index: 1;
  position: relative;
  align-items: center;
  border: 2px solid white;
  border-radius: 6px;
  background-color: #f6f5f5;
  padding: 30px;
  margin-bottom: 20px;
}
.work .box::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ededed;
  width: 0;
  height: 0;
  transition: var(--main-transition);
}
.work .box:hover::before {
  width: 100%;
  height: 100%;
}
.work .box img {
  width: 64px;
  margin-right: 30px;
}
@media (width < 992px) {
  .work .container {
    flex-direction: column;
  }
  .work .content {
    margin: 50px auto 0;
  }
}
@media (width < 768px) {
  .work .box {
    flex-direction: column;
    text-align: center;
  }
  .work .box img {
    margin: 0 0 30px;
  }
}
/* end works */
/* start events */
.events {
  padding: var(--main-padding) 0;
}
.events .info img {
  max-width: 450px;
}
.events .info .time {
  margin: 20px auto;
}
.events .info .units {
  border: 1px solid #d4d4d4;
  border-radius: 6px;
  width: 75px;
}
.events .info .units span {
  display: block;
  width: 100%;
  text-align: center;
}
.events .info .units span:first-child {
  padding: 10px 0;
  font-size: 35px;
  font-weight: bold;
  color: var(--main-color);
}
.events .info .units span:last-child {
  padding: 8px 10px;
  font-size: 13px;
  border-top: 1px solid #d4d4d4;
}
.events form {
  margin: 70px auto 20px;
  padding: 30px 40px;
  width: 600px;
  text-align: center;
  background-color: #f6f5f5;
  border-radius: 50px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.events form input[type="email"] {
  padding: 20px;
  border-radius: 50px;
  border: none;
  flex-grow: 1;
  caret-color: var(--main-color);
}
.events form input[type="email"]:focus {
  outline: none;
}
.events form input[type="email"]::placeholder {
  transition: opacity var(--main-transition);
}
.events form input[type="email"]:focus::placeholder {
  opacity: 0;
}
.events form input[type="submit"] {
  padding: 20px;
  border-radius: 50px;
  background-color: var(--main-color);
  border: none;
  font-weight: bold;
  color: white;
  cursor: pointer;
  transition: var(--main-transition);
}
.events form input[type="submit"]:hover {
  background-color: var(--alt-color);
}
@media (width < 768px) {
  .events form {
    max-width: 100%;
    padding: 20px;
    flex-direction: column;
    border-radius: 0;
  }
  .events form input[type="email"],
  .events form input[type="submit"] {
    border-radius: 0;
    width: 100%;
  }
}
/* end events */
/* start prices */
.prices {
  padding: var(--main-padding) 0;
  background-color: var(--section-background);
}
.prices .box {
  position: relative;
  box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
  transition: var(--main-transition);
  background: white;
  z-index: 1;
}
.prices .box .label {
  position: absolute;
  writing-mode: vertical-rl;
  background-color: var(--main-color);
  color: white;
  font-weight: bold;
  padding: 10px 5px;
  font-size: 18px;
  right: 20px;
}
.prices .box .label::after {
  content: "";
  width: 100%;
  position: absolute;
  border: 18px solid;
  bottom: -35px;
  right: 0;
  border-color: var(--main-color) var(--main-color) transparent;
}
.prices .box::before,
.prices .box::after {
  content: "";
  position: absolute;
  background-color: #f6f6f6;
  z-index: -1;
  height: 50%;
  width: 0;
  transition: var(--main-transition);
}
.prices .box::before {
  top: 0;
  left: 0;
}
.prices .box::after {
  bottom: 0;
  right: 0;
}
.prices .box:hover::before,
.prices .box:hover::after {
  width: 100%;
}
.prices .box .info {
  padding-top: 30px;
}
.prices .box .info .title {
  font-weight: bold;
  font-size: 25px;
  letter-spacing: -1px;
}
.prices .box .info img {
  width: 80px;
  margin: 30px 0;
}
.prices .box .info span {
  font-weight: bold;
  font-size: 60px;
  color: var(--main-color);
}
.prices .box ul li {
  padding: 20px;
  border-top: 1px solid #eee;
}
.prices .box ul li::before {
  font-family: "Font Awesome 5 Free";
  margin-right: 10px;
  content: "\f00c";
  font-weight: 900;
  color: var(--main-color);
}
.prices .box .link {
  padding: 30px 0 40px;
  display: flex;
  justify-content: center;
}
.prices .box .link a {
  display: block;
  width: fit-content;
  border: 2px solid var(--main-color);
  color: var(--main-color);
  padding: 15px 20px;
  border-radius: 6px;
  font-weight: bold;
  transition: var(--main-transition);
}
.prices .box .link a:hover {
  background-color: var(--alt-color);
  border-color: var(--alt-color);
  color: white;
}
@media (width >= 1200px) {
  .prices .popular {
    top: -20px;
  }
}
/* end prices */
/* start videos */
.videos {
  padding: var(--main-padding) 0;
}
.videos .holder {
  border: 1px solid #ddd;
}
.videos .holder .list {
  min-width: 300px;
  background-color: white;
}
.videos .holder .name {
  background-color: #f4f4f4;
  padding: 20px;
  font-weight: bold;
}
.videos .holder .list ul li {
  padding: 20px;
  border-top: 1px solid var(--section-background);
  cursor: pointer;
  transition: var(--main-transition);
}
.videos .holder .list ul li:hover {
  background-color: #fafafa;
  color: var(--main-color);
}
.videos .holder .list ul li span {
  display: block;
  margin-top: 10px;
  color: #777;
}
.videos .content {
  background-color: #e2e2e2;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* end videos */
/* start stats */
.stats {
  padding: var(--main-padding) 0;
  position: relative;
  background-image: url("../images/stats.jpg");
  background-size: cover;
  min-height: 300px;
}
.stats::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255 255 255 / 95%);
}
.stats .box {
  padding: 30px 15px;
}
.stats .box::before,
.stats .box::after {
  content: "";
  position: absolute;
  background-color: var(--main-color);
  width: 2px;
  height: 0;
  transition: 1s;
}
.stats .box::before {
  top: 0;
  left: 0;
}
.stats .box::after {
  bottom: 0;
  right: 0;
}
.stats .box:hover::before,
.stats .box:hover::after {
  height: 100%;
}
.stats .box span:nth-child(2) {
  font-size: 50px;
  font-weight: bold;
}
.stats .box span:last-child {
  color: var(--main-color);
  font-weight: bold;
  font-style: italic;
  font-size: 20px;
}
/* end stats */
/* start discount */
.discount {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
}
.discount .content {
  text-align: center;
  padding: 0 20px;
}
.discount .content h2 {
  font-size: 40px;
  font-weight: bold;
  letter-spacing: -2px;
  margin: 32px 0;
}
.discount .content p {
  line-height: 1.6;
  font-size: 18px;
  max-width: 500px;
}
.discount .image {
  background-image: url(../images/discount-background1.jpg);
  background-size: cover;
  color: white;
  flex-basis: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  animation: change-background 10s linear infinite;
}
.discount .image::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(23 135 224 / 97%);
  z-index: -1;
}
.discount .image img {
  width: 300px;
  max-width: 100%;
}
.discount .form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 50%;
}
.discount .form input,
.discount .form textarea {
  display: block;
  width: 100%;
  margin-bottom: 25px;
  padding: 15px;
  border: none;
  border-bottom: 1px solid #ccc;
  background-color: #f9f9f9;
  caret-color: var(--main-color);
}
.discount .form textarea {
  resize: none;
  height: 200px;
}
.discount .form [type="submit"] {
  background-color: var(--main-color);
  color: white;
  font-weight: bold;
  font-size: 20px;
  border: none;
  transition: var(--main-transition);
}
.discount .form [type="submit"]:hover {
  background-color: var(--alt-color);
}
@media (width < 992px) {
  .discount .image,
  .discount .form {
    flex-basis: 100%;
  }
}
/* end discount */
/* start footer */
footer {
  padding: 70px 0 0;
  background-color: #191919;
  color: white;
}
footer .box h1 {
  font-size: 50px;
}
footer .box .icon i {
  background-color: #313131;
  color: #b9b9b9;
  height: 50px;
  width: 50px;
  border-radius: 2px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  cursor: pointer;
  transition: var(--main-transition);
}
footer .box .facebook:hover {
  background-color: #1877f2;
}
footer .box .twitter:hover {
  background-color: #1da1f2;
}
footer .box .youtube:hover {
  background-color: #ff0000;
}
footer .box li {
  padding: 15px 0;
  transition: var(--main-transition);
}
footer .box li:not(:last-child) {
  border-bottom: 1px solid #444;
}
footer .box li::before {
  font-family: "Font Awesome 5 Free";
  content: "\F101";
  font-weight: 900;
  margin-right: 10px;
  color: var(--main-color);
}
footer .box li:hover {
  padding-left: 10px;
}
footer .box li:hover a {
  color: white;
}
footer .box li a {
  color: #b9b9b9;
}
footer .box .content i {
  color: var(--main-color);
  font-size: 25px;
  margin-right: 10px;
}
footer .galler img {
  width: 78px;
  border: 3px solid white;
  margin: 2px;
}
footer .copy-right {
  padding: 25px 0;
  text-align: center;
  color: white;
  margin: 50px 0 0;
  border-top: 1px solid #444;
}
@media (width < 768px) {
  footer {
    text-align: center;
  }
  footer .box .content {
    flex-direction: column;
  }
  footer .box .content i {
    margin: 0 0 10px;
  }
}
/* end footer */
/* start animation */
@keyframes up-and-down {
  0%,
  100% {
    transform: translateY(20px);
  }
  50% {
    transform: translateY(-30px);
  }
}
@keyframes bouncing {
  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40%,
  60% {
    transform: translateY(-15px);
  }
}
@keyframes left-move {
  50% {
    left: 0;
  }
  100% {
    left: 0;
    border-radius: 0;
    width: 50%;
    height: 100%;
  }
}
@keyframes right-move {
  50% {
    right: 0;
  }
  100% {
    right: 0;
    border-radius: 0;
    width: 50%;
    height: 100%;
  }
}
@keyframes moving-arrow {
  100% {
    transform: translateX(10px);
  }
}
@keyframes flushing {
  0%,
  40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    height: 200%;
    width: 200%;
  }
}
@keyframes change-background {
  0%,
  100% {
    background-image: url(../images/discount-background1.jpg);
  }
  50% {
    background-image: url(../images/discount-background2.jpg);
  }
}
/* end animation */
